body{
    background-image: url(kepek/hatter.jpg);
}
header{
    background-image: url(kepek/fejlec.jpg);
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
    grid-area: h;
}
nav{
    
    grid-area: n;
}
article{
    padding:30px;
    grid-area: a;
}
aside{
    
    border: 1px solid gray;
    grid-area: s;
    text-align: justify;
    padding: 20px;
}
footer{
    background-color: rgb(0, 168, 235);
    text-align: center;
    padding: 15px;
    grid-area: f;
}
main{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-areas:    "h h h h h"
                            "n a a a s"
                            "f f f f f";
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
h1{
    padding-top: 40px;
}
li{
    margin: 10px auto;
    background-color: rgb(0, 168, 235);
    border-radius: 20px;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
ul{
    padding: 10px;
}
img{
    width: 220px;
}
.bal{
    float: left;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #BFBFBF;
    transform: rotate(-10deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: white;
}
.jobb{
    float: left;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #BFBFBF;
    transform: rotate(10deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: white;
}
br{
    clear: both;
}
#galeria{
    padding-top: 200px;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}
aside a, td a{
    color: purple;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    margin: 0px;
    border-bottom: 1px solid rgb(0, 90, 143);;
  }
tr:nth-child(odd){
    background-color: #D6EEEE;
}
tr:hover{
    background-color: lightblue;
}
@media screen and (max-width: 840px) {
    main{
        width: 100%;
        display: grid;
        grid-template-areas:    "h h h h h"
                                "n n n n n"
                                "a a a a a"
                                "s s s s s"
                                "f f f f f";
    }
    
}